* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.wrapper {
  display: grid;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 2rem;
  width: 20%;
  font-family: "Teko", sans-serif;
  position: absolute;
  top: 2rem;
  left: 2rem;
}

nav a {
  text-decoration: underline;
  color: white;
}
main {
  background-image: url(../img/food.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.showcase {
  background-image: url(../img/showcase.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}
/* Home PAge */

.name {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-family: "Teko", sans-serif;
  display: flex;
  color: white;
  font-size: 5rem;
  letter-spacing: 5px;
  text-decoration: underline;
}

.fa-chevron-down {
  color: white;
  font-size: 1.5rem;
}

.collection {
  color: white;
  background-color: transparent;
  padding: 0.5rem;
  border: 2px solid white;
  outline: none;
  font-family: "Hind", sans-serif;
  font-size: 1.5rem;
  transition: 0.5s;
}
.collection:hover {
  transform: scale(1.2);
}

.knifeimg {
  max-height: 9rem;
}

.options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 2rem 10rem;
}

.knifes {
  min-width: 15rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0px 0px 10px -0px rgba(0, 0, 0, 0.75);
  margin: 1rem;
  background-color: white;
  border-radius: 0.3rem;
}
.header {
  text-align: center;
  font-family: "Hind", sans-serif;
}

.price {
  color: red;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 1rem;
  font-family: "Hind", sans-serif;
}

.addbutton {
  align-self: center;
  padding: 0.5rem;
  background-color: transparent;
  border: 2px solid black;
  outline: none;
  font-family: "Hind", sans-serif;
  transition: 0.5s;
}
.addbutton:hover {
  transform: scale(1.2);
}
.newButton {
  align-self: center;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: "Hind", sans-serif;
  color: rgb(27, 27, 27);
}
/* ------------------------------------- */

/* Shopping cart */

.showcase-cart {
  background-image: url(../img/showcase.jpg);
  background-repeat: no-repeat;
  height: min-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  padding-bottom: 2rem;
}
.carttitle {
  display: flex;
  color: white;
  font-size: 5rem;
  justify-content: center;
  height: 20vh;
  position: relative;
  letter-spacing: 5px;
  align-items: center;
  text-decoration: underline;
  font-family: "Teko", sans-serif;
  margin: 2rem;
}
.incart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 3rem;
  background-color: white;
  width: 35rem;
  border-radius: 0.3rem;
}
.cartdiv {
  display: grid;
  grid-template-areas: "itemimg itemname itemprice itembutton";
  grid-template-columns: 5rem 15rem 5rem 5rem;
  margin: 0.5rem 0;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 30rem;
  padding: 0.5rem;
  border-bottom: 0.5px solid black;
}
.cartheader {
  font-size: 1.4rem;
  grid-area: itemname;
  font-family: "Hind", sans-serif;
}
.cartprice {
  font-size: 1.2rem;
  color: red;
  grid-area: itemprice;
  font-family: "Hind", sans-serif;
  font-weight: 700;
}
.cartimg {
  max-height: 2rem;
  grid-area: itemimg;
}
.removebutton {
  grid-area: itembutton;
  font-family: "Hind", sans-serif;
  align-self: center;
  padding: 0.5rem;
  background-color: transparent;
  border: 2px solid black;
  outline: none;
  font-family: "Hind", sans-serif;
  transition: 0.5s;
}
.removebutton:hover {
  transform: scale(1.1);
}

.totalprice {
  display: flex;
  justify-content: center;
  font-family: "Hind", sans-serif;
}
#cost {
  color: red;
  font-family: "Hind", sans-serif;
  font-weight: 700;
}
.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 35rem;
  padding: 0 3rem;
  background-color: white;
  align-items: center;
  margin-top: 0.5rem;
  padding: 1rem 4rem;
  font-family: "Hind", sans-serif;
  border-radius: 0.3rem;
}

.totalbutton {
  align-self: center;
  padding: 0.5rem;
  background-color: transparent;
  border: 2px solid black;
  outline: none;
  font-family: "Hind", sans-serif;
}
